body {
  margin: 0;

  .retartedDelta {
    height: 100vh;
    width: 100vw;

    .hFull {
      height: 100%;
    }

    .wFull {
      width: 100%;
    }

    .flex {
      display: flex;

      &.col {
        flex-direction: col;
      }

      &.grow {
        flex-grow: 1;
      }

      &.one {
        flex: 1;
      }

      &.spcBw {
        justify-content: space-between;
      }

      &.verHorCenter {
        align-items: center;
        justify-content: center;
      }

      &.contentCtr {
        justify-content: center;
      }

      &.contentEnd {
        justify-content: flex-end;
      }

      &.itemsCtr {
        align-items: center;
      }

      &.inline {
        display: inline-flex;
      }
    }

    .textHollow {
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #000000;
      color: transparent !important;
    }

    .resume {
      h1 {
        gap: 5px;
        font-size: 16px;
        margin: 0;
      }
    }
  }
}
