.resume-container {
  --primaryColor: #212529;
  --secondaryColor: #495057;
  --tertiaryColor: #6c757d;
  --bgColor: #f8f8f8;

  padding: 0 20px 20px 20px;
  background-color: var(--bgColor);
  color: var(--primaryColor);
  font-size: 8px;

  a {
    color: var(--secondaryColor);
  }

  .resume-header {
    text-align: center;
    padding: 0 20px 0;
    border-bottom: 2px solid var(--tertiaryColor);
    margin-bottom: 20px;
  }

  .resume-name {
    margin: 0;
    font-size: 32px;
    /* 42px → 21px */
    display: inline-flex;
    gap: 5px;
    color: var(--primaryColor);

    .textHollow {
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: var(--tertiaryColor);
      color: transparent !important;
    }

    p {
      margin: 0;
    }
  }

  .resume-contact {
    margin-top: 8px;
    font-size: 8px;
    /* 12px → 6px */
    color: var(--secondaryColor);

    a {
      display: inline-flex;
      gap: 5px;
      justify-content: center;
      align-items: center;
      color: var(--secondaryColor);
    }
  }

  .resume-section {
    margin-bottom: 30px;
  }

  .section-title {
    border-bottom: 2px solid var(--tertiaryColor);
    padding-bottom: 8px;
    font-size: 12px;
    /* 17.28px → 8.64px, rounded to 9px */
    margin-bottom: 15px;
    color: var(--secondaryColor);
  }

  .item-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .job-title,
  .award-title,
  .education-institution,
  .project-title-line {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondaryColor);
    font-size: 10px;

    /* 16px → 8px */
    .rtSide {
      font-size: 6px;
      /* 12px → 6px */
      color: var(--secondaryColor);
      display: flex;
      flex-direction: column;
      align-content: space-between;
      justify-items: center;
      gap: 5px;

      a {
        text-align: right;
        color: var(--tertiaryColor);
      }

      .skills {
        gap: 5px;
        display: inline-flex;

        p {
          margin: 0;
        }
      }
    }
  }

  .job-date,
  .award-date,
  .education-date {
    font-size: 6px;
    /* 12px → 6px */
    color: var(--secondaryColor);
  }

  .job-details,
  .award-details,
  .education-details,
  .project-description {
    margin-top: 8px;
  }

  .skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
